<div class="row">
  <div class="span11">
    <div class = "navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a><%=Topic.find(debateStats.topic_id).name%></a></li>
          <li><a><%=debateStats.question%></a></li>
          <li><a>vs <%=debateStats.debateName2%></a></li>
          <li><a><%=debateStats.side1%></a></li>
          <% if debateStats.upvote1 %>
            <li><a><i class="icon-star-empty"></i></a></li>
          <%end %>
        </ul>
      </div>
    </div>
  </div>
</div>
