<h1>Help Page</h1>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">What is Mass-Debate?</a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner"> 
        <p>
        Mass-Debate is an online, social platform that lets you debate on topics with people around the world!
        </p>
        <p>
        After creating a profile with us, you can go right to the Lobby. In the Lobby, you can choose debate topics from various subjects. We have topics concerning everything from
        Religion and Politics to Sports. Debate and connect with like-minded people, you can even add them as friends to keep in contact throughout
        you're debating career. Sharpen your debating skills, and have fun while doing it!
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">How do you debate?</a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
        Just choose a debate topic to create a debate. Then, wait in the lobby until someone online finds you and enters your debate. Alternatively,
        you can find someone already waiting and join their debate.
        </p>
        <p>
        Once you're in your debate, each participant gets one minute to state their views. During those two minutes, if you ever feel as though you're
        opponent deserves merit for their debate skills, you can choose to "Upvote" them. After those two minutes, if both players choose to extend the
        debate, then each player gets another two minutes to argue. Otherwise, the debate is over, and you return to the lobby.
        </p>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>&copy; Mass-Debate 2013</p>
</footer>
