<div class="homecontainer">
  <div class="home">
    <div class="page-header">
      <div class="row">
        <div class="span8">
          <%=render :partial => "user", :collection => User.where(:debateName => params[:searchQuery]) %>
          <%=render :partial => "user", :collection => User.where(:firstName => params[:searchQuery]) %>
          <%=render :partial => "user", :collection => User.where(:lastName => params[:searchQuery]) %>
        </div>
      </div>
    </div>
  </div>
</div>
