<center>
<h1>Please wait for an opponent...</h1>
<h2> <%= @debate.question %> </h2>
</center>
<script>
Poll.start({
  name: "check_debate",
  interval: 500,
  action: function(){
    $.ajax({
      url: "/debates/start/<%=@debate.id%>",
      dataType: "text",
      success: function(data) {
        if (data==="true") {
          window.focus();
          window.location = "/debates/home/<%=@debate.id%>";
          Poll.stop("check_debate");
        }
        else {
          //Do Nothing
        }
      }
    }); // Your ajax here
  }
});
</script>
